In [9]:
import pandas as pd
import csv

1. Forming a dataframe with columns "Absolute path" and "Class name".

In [21]:
df = pd.read_csv('Annotasion.csv', usecols=["Absolute path", "Class name"])
df

                                        Absolute path Class name
0      C:\Users\nasty\ap_laba2\dataset1\rose\0000.jpg       rose
1      C:\Users\nasty\ap_laba2\dataset1\rose\0001.jpg       rose
2      C:\Users\nasty\ap_laba2\dataset1\rose\0002.jpg       rose
3      C:\Users\nasty\ap_laba2\dataset1\rose\0003.jpg       rose
4      C:\Users\nasty\ap_laba2\dataset1\rose\0004.jpg       rose
...                                               ...        ...
1995  C:\Users\nasty\ap_laba2\dataset1\tulip\0995.jpg      tulip
1996  C:\Users\nasty\ap_laba2\dataset1\tulip\0996.jpg      tulip
1997  C:\Users\nasty\ap_laba2\dataset1\tulip\0997.jpg      tulip
1998  C:\Users\nasty\ap_laba2\dataset1\tulip\0998.jpg      tulip
1999  C:\Users\nasty\ap_laba2\dataset1\tulip\0999.jpg      tulip

[2000 rows x 2 columns]

2. Rename name columns.

In [25]:
df = df.rename(columns={'Absolute path': 'absPath'})
df = df.rename(columns={'Class name': 'className'})
df

                                              absPath className
0      C:\Users\nasty\ap_laba2\dataset1\rose\0000.jpg      rose
1      C:\Users\nasty\ap_laba2\dataset1\rose\0001.jpg      rose
2      C:\Users\nasty\ap_laba2\dataset1\rose\0002.jpg      rose
3      C:\Users\nasty\ap_laba2\dataset1\rose\0003.jpg      rose
4      C:\Users\nasty\ap_laba2\dataset1\rose\0004.jpg      rose
...                                               ...       ...
1995  C:\Users\nasty\ap_laba2\dataset1\tulip\0995.jpg     tulip
1996  C:\Users\nasty\ap_laba2\dataset1\tulip\0996.jpg     tulip
1997  C:\Users\nasty\ap_laba2\dataset1\tulip\0997.jpg     tulip
1998  C:\Users\nasty\ap_laba2\dataset1\tulip\0998.jpg     tulip
1999  C:\Users\nasty\ap_laba2\dataset1\tulip\0999.jpg     tulip

[2000 rows x 2 columns]

3. Adding a new column.