In [10]:
import pandas as pd
import numpy as np
import cv2

1. Forming a dataframe with columns "Absolute path" and "Class name".

In [16]:
df = pd.read_csv('Annotasion.csv', usecols=["Absolute path", "Class name"])
df

                                        Absolute path Class name
0      C:\Users\nasty\ap_laba2\dataset1\rose\0000.jpg       rose
1      C:\Users\nasty\ap_laba2\dataset1\rose\0001.jpg       rose
2      C:\Users\nasty\ap_laba2\dataset1\rose\0002.jpg       rose
3      C:\Users\nasty\ap_laba2\dataset1\rose\0003.jpg       rose
4      C:\Users\nasty\ap_laba2\dataset1\rose\0004.jpg       rose
...                                               ...        ...
1995  C:\Users\nasty\ap_laba2\dataset1\tulip\0995.jpg      tulip
1996  C:\Users\nasty\ap_laba2\dataset1\tulip\0996.jpg      tulip
1997  C:\Users\nasty\ap_laba2\dataset1\tulip\0997.jpg      tulip
1998  C:\Users\nasty\ap_laba2\dataset1\tulip\0998.jpg      tulip
1999  C:\Users\nasty\ap_laba2\dataset1\tulip\0999.jpg      tulip

[2000 rows x 2 columns]

2. Rename name columns.

In [17]:
df = df.rename(columns={'Absolute path': 'absPath',
               'Class name': 'className'})
df

                                              absPath className
0      C:\Users\nasty\ap_laba2\dataset1\rose\0000.jpg      rose
1      C:\Users\nasty\ap_laba2\dataset1\rose\0001.jpg      rose
2      C:\Users\nasty\ap_laba2\dataset1\rose\0002.jpg      rose
3      C:\Users\nasty\ap_laba2\dataset1\rose\0003.jpg      rose
4      C:\Users\nasty\ap_laba2\dataset1\rose\0004.jpg      rose
...                                               ...       ...
1995  C:\Users\nasty\ap_laba2\dataset1\tulip\0995.jpg     tulip
1996  C:\Users\nasty\ap_laba2\dataset1\tulip\0996.jpg     tulip
1997  C:\Users\nasty\ap_laba2\dataset1\tulip\0997.jpg     tulip
1998  C:\Users\nasty\ap_laba2\dataset1\tulip\0998.jpg     tulip
1999  C:\Users\nasty\ap_laba2\dataset1\tulip\0999.jpg     tulip

[2000 rows x 2 columns]

3. Adding a new column.

In [18]:
df["marks"] = "0"
df.loc[df["className"] == "tulip", "marks"] = "1"
df

                                              absPath className marks
0      C:\Users\nasty\ap_laba2\dataset1\rose\0000.jpg      rose     0
1      C:\Users\nasty\ap_laba2\dataset1\rose\0001.jpg      rose     0
2      C:\Users\nasty\ap_laba2\dataset1\rose\0002.jpg      rose     0
3      C:\Users\nasty\ap_laba2\dataset1\rose\0003.jpg      rose     0
4      C:\Users\nasty\ap_laba2\dataset1\rose\0004.jpg      rose     0
...                                               ...       ...   ...
1995  C:\Users\nasty\ap_laba2\dataset1\tulip\0995.jpg     tulip     1
1996  C:\Users\nasty\ap_laba2\dataset1\tulip\0996.jpg     tulip     1
1997  C:\Users\nasty\ap_laba2\dataset1\tulip\0997.jpg     tulip     1
1998  C:\Users\nasty\ap_laba2\dataset1\tulip\0998.jpg     tulip     1
1999  C:\Users\nasty\ap_laba2\dataset1\tulip\0999.jpg     tulip     1

[2000 rows x 3 columns]

4. Adding columns with information about height, width and depth.

In [53]:
height_i = []
for i in range(2000):
    img = cv2.imread(df["absPath"].iloc[i])
    if img is not None:
      height_i.append(img.shape[0])
    else:
       print(df["absPath"].iloc[i])

df["height"] = height_i
df.head()

                                          absPath className marks  height
0  C:\Users\nasty\ap_laba2\dataset1\rose\0000.jpg      rose     0    1600
1  C:\Users\nasty\ap_laba2\dataset1\rose\0001.jpg      rose     0    1125
2  C:\Users\nasty\ap_laba2\dataset1\rose\0002.jpg      rose     0    1200
3  C:\Users\nasty\ap_laba2\dataset1\rose\0003.jpg      rose     0    1397
4  C:\Users\nasty\ap_laba2\dataset1\rose\0004.jpg      rose     0    1200